<h1>New Article</h1>


<form accept-charset="UTF-8" action="/register" method="post">
  <input type="text" name="email"  />
  <input type="text" name="password"  />
  <button type="submit">submit</button>
</form>

